.main_slider {
  width: 100%;
  position: relative;
  &__inner {
    width: 100%;
    margin-bottom: 0 !important;
      &_slide {
        width: 100%;
        height: 270px;
          img {
            width: 100%;
          }
      }
  }
  .ps_nums {
    position: absolute;
    bottom: 20px;
    z-index: 7;
    left: 32px;
    color: #fff;
    font-size: 18px;
    display: block;
      .p-slide-number {
        color: $color-base;
      }
  }
}

.btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
    &_container {
      width: 100%;
      position: relative;
    }
}

.btn_right {
  position: absolute;
  right: -50px;
  width: 12px;
  height: 12px;
  transition: all .3s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: .6;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.btn_left {
  position: absolute;
  left: -50px;
  width: 12px;
  height: 12px;
  transition: all .3s;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: .6;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}
